/laidoff/user1/*.dat
.~lock.*#
~$*
/laidoff-server/build
/laidoff/account-id
/laidoff/account-pw
/laidoff/account-s
/laidoff/account-v
laidoff/user*/
/laidoff/account-last-key
/laidoff/android/app/.cxx
/laidoff/android/app/releaseBallRumbleGooglePlay
