html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/stat.pug
    include ./includes/actionresult.pug
    include ./includes/topmenu.pug
    p.green.tc NEW CONTRACT
    div.semitransblack
      table.mar0a
        tr
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ★
                br
                | DEP CITY
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ♦
                br
                | SEAPORT
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ⏅
                br
                | SHIP
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ♦
                br
                | SEAPORT
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ★
                br
                | DEST CITY

