html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/stat.pug
    include ./includes/actionresult.pug
    include ./includes/topmenu.pug
    p.green NEW CONTRACT
    div.semitransblack
      table.tc
        tr
          td
            | ★
            br
            | DEP. CITY
          td ➡
          td
            | ♦
            br
            | SEAPORT
          td ➡
          td
            | ⏅
            br
            | SHIP
          td ➡
          td
            | ♦
            br
            | SEAPORT
          td ➡
          td
            | ★
            br
            | DEST. CITY
        tr
          td
            a.dpinblk.red.pad2(href='script:xxxxx()')
          td
          td
            a.dpinblk.red.pad2(href='script:xxxxx()')
          td
          td
            a.dpinblk.red.pad2(href='script:xxxxx()')
          td
          td
            a.dpinblk.red.pad2(href='script:xxxxx()')
          td
          td
            a.dpinblk.red.pad2(href='script:xxxxx()')

