html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/stat.pug
    include ./includes/actionresult.pug
    include ./includes/topmenu.pug
    p.green.tc PRODUCED ITEMS
    div.semitransblack
      table.mar0a
        tr
          td 소유권
          td 현위치
          td 원산지
          td 물품명
          td 수량
          td 소유권 구입
        tr
          td ★Busan
          td ★Busan
          td ★Busan
          td 50000
          td 10
          td
            a.dpinblk.red(href='script:xxxxx()') 2,000골드
        tr
          td ★Busan
          td ★Busan
          td ★Busan
          td 40000
          td 100
          td
            a.dpinblk.red(href='script:xxxxx()') 2,500골드
    a.dpinblk.red(href='script:xxxxx()') 확인
    p.green.tc NEW CONTRACT
    div.semitransblack
      table.mar0a
        tr
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ★
                br
                | DEP CITY
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ♦
                br
                | SEAPORT
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ⏅
                br
                | SHIP
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ♦
                br
                | SEAPORT
          td ➡
          td
            div.tc
              a.dpinblk.red(href='script:xxxxx()')
                | ★
                br
                | DEST CITY

