html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    center
      br
      br
      br
      img(src='/ttl-title.png')
      br
      br
      br
      a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 시작하기
