html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    h2.semitransblack.tc #{shipyard.name}
    div.tc 최대 정박 가능 선박 수: 4
    if dockedShips.length > 0
      h3.semitransblack.tc 정박중
    div.tc
      //a.dpinblk.red.pad1(href='script:enable_water_way()') 판매
      //a.dpinblk.red.pad1(href='script:enable_water_way()') 항로지정
      br
      each dockedShip in dockedShips
        a.dpinblk.red.pad1(href='script:open_ship(' + dockedShip.ship_id + ')')
          img(src='atlas/flags-mini/au.png')
          p #{dockedShip.name}
          //a.dpinblk.red.pad1(href='script:enable_water_way()') 선택
    h3.semitransblack.tc 새 선박 구입
    div.tc
      - var n = 0;
      while n < 1
        div.dpinblk.semitransblack
          p 선박 모델 #{n + 1}
          img(src='atlas/flags-mini/au.png')
          a.dpinblk.red.pad1(href='script:purchase_ship_at_shipyard(' + shipyard.shipyard_id + ',' + (n + 1) + ')') 구입
        - n++
  div.tc
    a.dpinblk.red.pad2(href='script:return_to_idle()') 닫기