html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    center
      h1
        a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 이젠 뭐가 뭔지 모르겠다
    hr
    center 
      h3 #{mission.dept_name} - #{mission.arvl_name}
