build
*.aps
/.vs
/win32/Debug
/win32/MinSizeRel
\#*\#
/.vimrc
build-x64
build-x86
/android/keystore.properties
/assets/list.txt
/android/app/app-release
*.dir
/imgui.ini
*.swp
/build*
ios/laidoff.xcodeproj/xcuserdata
ios/laidoff.xcodeproj/project.xcworkspace/xcuserdata
/match-server/.idea/workspace.xml
/match-server/conf.json
/match-server/db
/user_id.dat
cmake-build-debug
workspace.xml
/android/app/release/app-release
/android/app/release
push-server/db
push-server/cert
push-server/push-server
push-server/pages
user_id.dat
laidoff.ipa
/match-server/*.exe
/db-server/db
match-server/match-server
/auth-google-server/key
/tutorial-finished
/imgui_log.txt

clientlog.txt
ios/build-appstore
/admin
/user1/tutorial-finished
/user2/tutorial-finished
/user3/tutorial-finished
/ttl-user-id.dat
/go-bin

/android/.idea/caches
/*-server/*-server

/br-server/*.exe
/br-server/*.exe~
/*.dat
IDEWorkspaceChecks.plist
.name
