head
  meta(charset='utf-8')
  title Transport Tycoon Lee
  style.
    .red {
      background-color: rgba(255, 0, 0, 0.5);
    }

    .wblue {
      background-color: rgba(0, 200, 200, 0.8);
    }

    .blk {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .blk8 {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .tc {
      text-align: center;
    }

    .stat {
      position: absolute;
      top: 0;
      width: 50%;
      left: 25%;
      text-align: center;
    }

    .date {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }

    .pad1 {
      padding: 1pt;
    }
    .pad2 {
      padding: 2pt;
    }
    .pad3 {
      padding: 3pt;
    }

    .pad5 {
      padding: 5pt;
    }

    .w20 {
      width: 20%
    }

    .w30 {
      width: 30%
    }

    .w70 {
      width: 70%
    }

    .w80 {
      width: 80%
    }

    .mar0a {
      margin: 0 auto;
    }

    .mar00 {
      margin: 0;
    }

    .fwht {
      color: white;
    }

    .bsea {
      background-color: rgb(0, 94, 190);
    }

    .f1p5 {
      font-size: 1.5em;
    }

    .f1 {
      font-size: 1em;
    }

    .dpinblk {
      display: inline-block;
      border: solid 1px gold;
    }

    .dpblc {
      display: block;
    }

    .flft {
      float: left;
    }

    .frgt {
      float: right;
    }

    .wspre {
      white-space: pre;
    }

    a {
      color: white;
    }

    .pictureborder {
      border: 2px solid deepskyblue;
    }

    .floatleft {
      float: left;
    }

    .floatright {
      float: right;
    }

    .solidborder {
      border: 1px solid black;
    }

    .nowrap {
      white-space: nowrap;
    }

    .alignright {
      text-align: right;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 20%;
      left: 40%;
      margin: auto 0;
      background-color: black;
    }

    #center {
      margin: 0 auto;
      text-align: center;
    }

    .yellow {
      color: blue;
    }