div.floatleft
  br
  br
  br
  br
  div.smallfont GUID:#{user.guid}
  div
    a.dpinblk.red.pad2(href='/idle?mt=' + menuToggle) X
  if menuToggle
    div
      a.dpinblk.red.pad2(href='script:create_account()') 새 계정 생성
    div
      a.dpinblk.red.pad2(href='script:create_account_force()') 새 계정 생성 (강제)
    div
      a.dpinblk.red.pad2(href='script:start_account_auth()') 기존 계정 로그인
    div
      a.dpinblk.red.pad2(href='script:enable_water_way()') 해로
    div
      a.dpinblk.red.pad2(href='script:enable_land_way()') 육로
    div
      a.dpinblk.red.pad2(href='/vessel?u=' + user.guid) 선박
    div
      a.dpinblk.red.pad2(href='/port?u=' + user.guid) 항구
    //br
    //a.dpinblk.red.pad3(href='/seaway?u=' + user.guid) 항로
    div
      a.dpinblk.red.pad2(href='script:toggle_grid()') 격자
    div
      a.dpinblk.red.pad2(href='script:transform_single_cell_water_to_land()') 물➡땅
    div
      a.dpinblk.red.pad2(href='script:transform_single_cell_land_to_water()') 땅➡물
    div
      a.dpinblk.red.pad2(href='script:toggle_cam_iso_top_mode()') 카메라