div.floatright
  br
  br
  br
  br
  a.dpinblk.red.pad3(href='/idle?u=' + user.guid) 축소
  br
  a.dpinblk.red.pad3(href='script:enable_water_way()') 해로
  br
  a.dpinblk.red.pad3(href='script:enable_land_way()') 육로
  br
  a.dpinblk.red.pad3(href='/vessel?u=' + user.guid) 선박
  br
  a.dpinblk.red.pad3(href='/port?u=' + user.guid) 항구
  br
  a.dpinblk.red.pad3(href='/seaway?u=' + user.guid) 항로
  //br
  //a.dpinblk.red.pad3(href='/mission?u=' + user.guid) 임무
  //br
  //a.dpinblk.red.pad3(href='/?u=' + user.guid) 공지
  //br
  //a.dpinblk.red.pad3(href='/HTMLPage1.html') Test
  //br
  //a.dpinblk.red.pad3(href='/newPortRegistered')
    | 항구
    br
    | 등록
//div#footer
  div#center
    a.dpinblk.red.pad3(href='script:map_zoom_in()') 확대
    a.dpinblk.red.pad3(href='script:map_zoom_out()') 축소